In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
def read_csv_into_df(file_path):
    df = pd.read_csv(file_path)
    return df

In [4]:
purchase = read_csv_into_df("validate.csv")
display(purchase)

,Unnamed: 0,Unnamed: 0_x,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank,...,garment_group_no,garment_group_name,detail_desc,Unnamed: 0.1,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,10205052,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0.050831,1,104,0.0,999.0,...,1008,20,188,0,-1,-1,0,0,49,6305
1,10205053,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,909370001,0.032947,1,104,0.0,1.0,...,1023,19,28617,0,-1,-1,0,0,49,6305
2,10205054,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,865799006,0.033340,1,104,0.0,2.0,...,1009,5,2971,0,-1,-1,0,0,49,6305
3,10205055,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,918522001,0.041416,1,104,0.0,3.0,...,1003,3,28633,0,-1,-1,0,0,49,6305
4,10205056,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001,0.041549,1,104,0.0,4.0,...,1003,3,13007,0,-1,-1,0,0,49,6305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750708,16955760,29122301,2020-07-16,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238001,0.041612,1,104,0.0,7.0,...,1003,3,4489,1371977,1,1,0,1,21,106737
6750709,16955761,29122301,2020-07-16,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,918292001,0.041424,1,104,0.0,8.0,...,1005,0,901,1371977,1,1,0,1,21,106737
6750710,16955762,29122301,2020-07-16,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238005,0.041656,1,104,0.0,10.0,...,1003,3,4489,1371977,1,1,0,1,21,106737
6750711,16955763,29122301,2020-07-16,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,673677002,0.024925,1,104,0.0,11.0,...,1003,3,574,1371977,1,1,0,1,21,106737
6750712,16955764,29122301,2020-07-16,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,923758001,0.033478,1,104,0.0,12.0,...,1010,6,27869,1371977,1,1,0,1,21,106737

In [5]:
purchase_sim = purchase.drop(['t_dat','price','sales_channel_id','week','purchased','bestseller_rank','Unnamed: 0_y',
                          'product_code','prod_name','product_type_no','product_type_name','product_group_name','graphical_appearance_no',
                          'graphical_appearance_name','colour_group_code','colour_group_name','perceived_colour_value_id',
                          'perceived_colour_value_name','perceived_colour_master_id','perceived_colour_master_name','department_no',
                          'department_name','index_code','index_name','index_group_no','index_group_name','section_no','section_name',
                          'garment_group_no','garment_group_name','detail_desc','Unnamed: 0','FN','Active','club_member_status',
                          'fashion_news_frequency','age','postal_code'], axis=1)

In [6]:
purchase_sim

,Unnamed: 0_x,customer_id,article_id,Unnamed: 0.1
0,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0
1,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,909370001,0
2,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,865799006,0
3,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,918522001,0
4,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001,0
...,...,...,...,...
6750708,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238001,1371977
6750709,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,918292001,1371977
6750710,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238005,1371977
6750711,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,673677002,1371977
6750712,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,923758001,1371977

In [7]:
#purchase.to_csv('train_modified.csv')

In [8]:
purchase_sim

,Unnamed: 0_x,customer_id,article_id,Unnamed: 0.1
0,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0
1,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,909370001,0
2,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,865799006,0
3,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,918522001,0
4,31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001,0
...,...,...,...,...
6750708,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238001,1371977
6750709,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,918292001,1371977
6750710,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238005,1371977
6750711,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,673677002,1371977
6750712,29122301,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,923758001,1371977

In [9]:
purchase_x = purchase_sim.drop(columns='Unnamed: 0.1')
purchase_x = purchase_sim.drop(columns='Unnamed: 0_x')

In [10]:
purchase_x

,customer_id,article_id,Unnamed: 0.1
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0
1,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,909370001,0
2,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,865799006,0
3,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,918522001,0
4,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001,0
...,...,...,...
6750708,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238001,1371977
6750709,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,918292001,1371977
6750710,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,809238005,1371977
6750711,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,673677002,1371977
6750712,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,923758001,1371977

In [11]:
purchase_x.to_csv('validate_modified.csv')